{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Menu App{% endblock %}</title>
	
	<link href="{% static "menu/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "menu/css/base.css" %}" rel="stylesheet">
	{% block includes %}{% endblock %}
	
</head>

<body>
{% block header %}
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{%url "menu:profile" %}">Menu App</a>
        </div>
        <div class="collapse navbar-collapse navbar-left">
          <ul class="nav navbar-nav">
		    {% block nav %}
            <li><a href="{%url "menu:recipe_list" %}">Recipes</a></li>
			<li><a href="{%url "menu:calendar"%}">Calendar</a></li>
			<li><a href="{%url "menu:ingredient_list" %}">Ingredients</a></li>
			{% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
		{% if user.is_authenticated %}
 		<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{ user.email }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{% url "menu:logout" %}">Logout</a></p>
        {% else %}
		<p class="navbar-text navbar-right"><a href="{%url "menu:login" %}">Login</a></p>
		{% endif %}
   </div>
    </div>
    {% endblock %}
	
    <div class="container">
      {% block content %}{% endblock %}
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "menu/js/bootstrap.min.js" %}"></script>
	<script src="{% static "menu/js/base.js" %}"></script>
	{%block js %}{% endblock %}
</body>
</html>