{% extends "menu/base.html" %}
{% load staticfiles %}

{% block includes %}
 <link href="{% static "menu/css/fullcalendar.css" %}" rel="stylesheet">
 <link href="{% static "menu/css/fullcalendar.print.css" %}" rel="stylesheet" media="print">

 {% endblock %}
{% block content %}
  <div class="header row hidden-print">
      <div class="col-xs-2">
      <h1>Calendar</h1>
	</div>
	<div class="col-xs-2">
		<a role="button" class="btn btn-primary btn-lg" href="{% url "menu:meal_add" %}">
			<span class="glyphicon glyphicon-plus"></span> Add Meal
		</a>
	</div>
  </div>
    <div id='calendar'></div>
  
<div id="actions-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Actions" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	  <div class="btn-group">
      <a id="edit-anchor" role="button" class="btn btn-default" href="#">
			<span class="glyphicon glyphicon-pencil"></span> Edit</a>
		<a id="delete-anchor" role="button" class="btn btn-default" href="#">
			<span class="glyphicon glyphicon-remove"></span> Delete</a>
		</div>

		</div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "menu/js/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "menu/js/fullcalendar.min.js" %}"></script>
<script src="{% static "menu/js/calendar.js" %}"></script>
{% endblock %}