{% extends "menu/base.html" %}
{% load staticfiles %}

{% block includes %}
  <link href="{% static "menu/css/datepicker.css" %}" rel="stylesheet">
		
{% endblock %}

{% block content %}

<form action="{% if meal %}
{% url "menu:meal_update" meal.pk %}
{% else %}
{% url "menu:meal_add" %}
{% endif %}" method="post">
{% csrf_token %}
  {{ form.media }}
  {{ form.non_field_errors }}
  <div class="form-group">
    {{ form.name.errors }}
	<label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
	{{ form.name }}
  </div>
   <div class="form-group">
	{{ form.date.errors }}
	<label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
	{{ form.date }}
	</div>
	<div class="form-group">
	  {{ formset.management_form }}
	  <table id="recipe_table" class="table table-striped">
	  <thead>
	   <tr><th>Recipe</th><th>Delete</th></tr>
	   </thead>
	   <tfoot>
	     <tr>
		   <td colspan="2">
		     <button type="button" class="btn btn-primary btn-xs" id="add_recipe_row">
			 <span class="glyphicon glyphicon-plus"></span>Add Recipe
			 </button>
		   </td>
		 </tr>
		 <tr class="hidden">
		   <td class="hidden">
		     {{ formset.empty_form.id }}
		   </td>
	       <td>
		     {{ formset.empty_form.recipe }}
		   </td>
		   <td>
  		     <a class='delete_row' href='javascript:void(0)'><span class='glyphicon glyphicon-remove'/></a>
		   </td>
	     </tr>
	   
	   </tfoot>
	   <tbody>
	   {% for form in formset %}
	     <tr>
		   <td class="hidden">
		     {{ form.id }}
		   </td>
		   <td>
		    {{ form.recipe }}
 		   </td>
		   <td>
		     {% if formset.can_delete %}
		     {{ form.DELETE }}
			 {% endif %}
		   </td>
	     </tr>
	   {% endfor %}
	   </tbody>
	  </table>
	</div>
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit" />
</form>
{% endblock %}
{% block js %}
<script src="{% static "menu/js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "menu/js/meal_form.js" %}"></script>
{% endblock %}