{% extends "menu/base.html" %}
{% load staticfiles %}

{% block content %}
<h1 class='detail_title'>{{ recipe.name }}
{% if recipe.private %} 
	<span id="private" data-toggle="tooltip" data-placement="right" title="Private" class='h4 text-danger glyphicon glyphicon-eye-close'></span>
{% endif%}</h1>
<div class="row">
  <div class="col-xs-6"><span style="white-space:nowrap" class="h3">Created </span> {{ recipe.created }}</div>
  <div class="col-xs-6"><span class="h3">Rating </span> {% for i in rating_loop %} <span class="text-warning glyphicon glyphicon-star"></span>{% endfor %}</div>
</div>
  <h3>Ingredients</h3>
{% for ingredient in recipe_ingredients %}
<div>{{ ingredient.amount|floatformat }} {{ ingredient.get_unit_display}} {{ ingredient.ingredient.name}}</div>
{% endfor %}
<h3>Directions</h3>
<div class="row">
  <pre>{{ recipe.directions }}</pre>
</div>
{% endblock %}
{% block js %}
<script src="{% static "menu/js/recipe_detail.js" %}"></script>
{% endblock %}