{% extends "menu/base.html" %}
{% load staticfiles %}

{% block includes %}
  <link href="{% static "menu/css/recipe_form.css" %}" rel="stylesheet">
	
{% endblock %}

{% block content %}

<form action="{% if recipe %}
{% url "menu:recipe_update" recipe.pk %}
{% else %}
{% url "menu:recipe_add" %}
{% endif %}" method="post">
{% csrf_token %}
  {{ form.non_field_errors }}
  <div class="form-group">
    {{ form.name.errors }}
	<label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
	{{ form.name }}
  </div>
   <div class="form-group">
   <div class="row">
	  {{ form.private.errors }}
	  {{ form.rating.errors }}
    <div class="col-xs-4">
	  <label for="{{ form.private.id_for_label }}">{{ form.private.label }}</label>
	  {{ form.private }}
	  </div>
	  <div class="col-xs-6">
	  <label for="{{ form.rating.id_for_label }}">{{ form.rating.label }}</label>
	  {{ form.rating }}
	  </div>
	  </div>
	</div>
	<div class="form-group">
	{% for error in formset.errors %}
	  {{ error }}
	{% endfor %}
	  {{ formset.management_form }}
	  <table id="ingredient_table" class="table table-striped">
	  <thead>
	   <tr><th>Amount</th><th>Unit</th><th>Ingredient</th><th>Delete</th></tr>
	   </thead>
	   <tfoot>
	     <tr>
		   <td colspan="4">
		     <button type="button" class="btn btn-primary btn-xs" id="add_ingredient_row">
			 <span class="glyphicon glyphicon-plus"></span>Add Ingredient
			 </button>
		   </td>
		 </tr>
		 <tr class="hidden">
		   <td class="hidden">
		     {{ formset.empty_form.id }}
		   </td>
	       <td>
		     {{ formset.empty_form.amount }}
		   </td>
		   <td>
		     {{ formset.empty_form.unit }}
		   </td>
		   <td>
		     {{ formset.empty_form.ingredient }}
		   </td>
		   <td>
  		     <a class='delete_row' href='javascript:void(0)'><span class='glyphicon glyphicon-remove'/></a>
		   </td>
	     </tr>
	   
	   </tfoot>
	   <tbody>
	   {% for form in formset %}
	     <tr>
		   <td class="hidden">
		     {{ form.id }}
		   </td>
		   <td>
		    {{ form.amount }}
 		   </td>
		   <td>
		    {{ form.unit }}
		   </td>
		   <td>
		     {{ form.ingredient }}
		   </td>
		   <td>
		     {% if formset.can_delete %}
		     {{ form.DELETE }}
			 {% endif %}
		   </td>
	     </tr>
	   {% endfor %}
	   </tbody>
	  </table>
	</div>
	 <div class="form-group">
	{{ form.directions.errors }}
	<label for="{{ form.directions.id_for_label }}">{{ form.directions.label }}</label>
	{{ form.directions }}
	</div>
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit" />
</form>
{% endblock %}
{% block js %}
<script src="{% static "menu/js/bootstrap-rating-input.min.js" %}" type="text/javascript"></script>
<script src="{% static "menu/js/recipe_form.js" %}" type="text/javascript"></script>
{% endblock %}