{% extends "menu/base.html" %}
{% load staticfiles %}

{% block includes %}
 <link href="{% static "menu/css/ingredient_list.css" %}" rel="stylesheet">
	
{% endblock %}
{% block content %}
<div class="header row">
	<div class="col-xs-2">
      <h1>Recipes</h1>
	</div>
	<div class="col-xs-2">
		<a role="button" class="btn btn-primary btn-lg" href="{% url "menu:recipe_add" %}">
			<span class="glyphicon glyphicon-plus"></span> Add
		</a>
	</div>

  </div>
    <table class="table table-striped table-bordered">
	  <tr>
	  <th>Name</th>
	  <th>Created</th>
	  <th>Owner</th>
	  <th>Actions</th>
	  </tr>
        {% for recipe in object_list %}
            <tr>
			<td>{{ recipe.name }}</td>
			<td>{{ recipe.created }}</td>
			<td>{{ recipe.profile }}</td>
			<td>
			  <a href="{% url "menu:recipe_detail" recipe.pk %}"><span class="glyphicon glyphicon-list"/></a>
  			  {% if user.profile == recipe.profile %}
			  <a href="{% url "menu:recipe_update" recipe.pk %}"><span class="glyphicon glyphicon-pencil"/></a>
			  <a href="{% url "menu:recipe_delete" recipe.pk %}"><span class="glyphicon glyphicon-remove"/></a>
			  {% endif %}
			</td>
			</tr>
        {% endfor %}
    </table>
{% endblock %}