body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.modal-content {display:inline-block; width:auto: position:fixed; left:33%}

form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.rating-input {
  display: inline;
}

.header a {
  margin-top:20px
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: normal;       /* Internet Explorer 5.5+ */
 word-break: keep-all;
}